{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <a href="{{ path_for('marcas.add') }}" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Add a Marca</a>
            <br><br>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Link</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                        <tr>
                            <td>{{ marca.order }}</td>
                            <td>{{ marca.name }}</td>
                            <td><a target="_blank" href="{{ path_for('images.show', { 'id': marca.image.id }) }}">{{ marca.image.name }}</a></td>
                            <td><a target="_blank" href="{{ marca.link }}">{{ marca.link }}</a></td>
                            <td>{{ marca.created_at }}</td>
                            <td>{{ marca.updated_at }}</td>
                            <td>
                                <a href="{{ path_for('marcas.edit', { 'id': marca.id }) }}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                                <a href="{{ path_for('marcas.delete', { 'id': marca.id }) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h2>Marcas Preview</h2>

            <div class="row">
                {% for marca in marcas %}
                    <div class="col-xs-4 col-md-3">
                        <a target="_blank" href="{{ marca.link }}" class="thumbnail popup" title="{{ marca.name }} Created: {{ marca.created_at }}">
                            <img src="{{ path_for('images.show.thumb', { 'id': marca.image.id }) }}" alt="{{ image.getName }}">
                        </a>
                    </div>
                {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}
